<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h2>Path Variable</h2>
    <tbody>
        <tr>
            <td th:text="${result.id}"></td>
            <td th:text="${result.firstName}"></td>
            <td th:text="${result.lastName}"></td>
            <td>
                <span th:if="${result.gender}=='M'" th:text="Male"></span>
                <span th:unless="${result.gender}=='M'" th:text="Female"></span>
            </td> 
        </tr>
    </tbody>
</body>
</html>